In [8]:
# how to find the maximum no
# Step 1) most basic one
xlist = [34,23,3000,-98,-1000]
maximum_no = xlist[0] # 34

if maximum_no < xlist[1]:
    maximum_no = xlist[1]
if maximum_no < xlist[2]:
    maximum_no = xlist[2]
if maximum_no < xlist[3]:
    maximum_no = xlist[3]
if maximum_no <xlist[4]:
    maximum_no = xlist[4]

print(maximum_no)

3000

In [9]:
#Step 2) loop
xlist = [34,23,3000,-98,-1000]
maximum_no = xlist[0] # 34

for no in range(1,5):
    if maximum_no < xlist[no]:
        maximum_no = xlist[no]
print(maximum_no)

3000

In [21]:
# Step 3) generic
xlist = [-100000000,0,-8000,-600,-50]
maximum_no = float('-inf')

for no in range(0,len(xlist)):
    if maximum_no < xlist[no]:
        maximum_no = xlist[no]
        
if maximum_no == float('-inf'):
    print('There are No Numbers in the list')
else:
    print(maximum_no)

0

## Q3.) Find the maximum appearing alphabet in the string "apple is apple"
### Intuition: Use the learn count function learnt in the previous lesson

### Pseudocode:
    every char 
    check if already present in the list or not 
         if not present :
            calculate count 
            check max count condition

In [22]:
"apple is apple".count('a')

2

In [23]:
"apple is apple".count('p')

4

In [31]:
# Step 1 Removing duplicates and finding the count of each alphabet.
s = "apple is apple"
x = set(s)
x.remove(' ')
print(x)
for element in x:
    print(element,'---->',s.count(element))

{'s', 'p', 'e', 'i', 'a', 'l'}
s ----> 1
p ----> 4
e ----> 2
i ----> 1
a ----> 2
l ----> 2

In [33]:
# Step 2 Applying the maximum finding logic
maximum_count = float('-inf')
maximum_appeared_alphabet = None
s = "apple is apple"
x = set(s)
x.remove(' ')
for element in x:
    count_of_element = s.count(element)
    if maximum_count < count_of_element:
        maximum_count = count_of_element
        maximum_appeared_alphabet = element
if maximum_appeared_alphabet != None:
    print('Maximum Appearing Alphabet is',maximum_appeared_alphabet)

Maximum Appearing Alphabet is p

## Q4.) Use range(1,21) make two list, one should contain even numbers and the other should contain odd numbers

In [34]:
even = []
odd = []
for no in range(1,21):
    if no%2==0:
        even.append(no)
    else:
        odd.append(no)
        
print(even)
print(odd)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [35]:
list1 = []
list1.append('kiwi')
print(list1)

['kiwi']

In [36]:
list1.append('daniel')
print(list1)

['kiwi', 'daniel']

In [41]:
l = []
l.append([1,2,3])
print(l)
l.append([4,5,6])
print(l)
l.append({'python':3,'java':8})
print(l)

[[1, 2, 3]]
[[1, 2, 3], [4, 5, 6]]
[[1, 2, 3], [4, 5, 6], {'python': 3, 'java': 8}]

## insert

In [37]:
l = [10,20,30,40]
l.insert(1,15)

print(l)

[10, 15, 20, 30, 40]

In [44]:
l = ['apple','mango']

l.insert(1,'kiwi')

print(l)

['apple', 'kiwi', 'mango']

In [ ]:
l.insert(index position, element that you want to insert)

In [ ]:
## deletion

# pop => takes index, by default it has the index of last element, return the element which it removed.

# remove => takes value, it will not return anything

# clear => remove all the elements, it makes the list empty

# del => deletes the res as well as the name of the list.

In [42]:
l = [10,20,30,40]
returned_value = l.pop()

print(returned_value)

print('list is',l)

40
list is [10, 20, 30]

In [43]:
l = [10,20,30,40]
returned_value = l.pop(0)

print(returned_value)

print('list is',l)

10
list is [20, 30, 40]

In [45]:
l = [10,20,30,40]
returned_value = l.remove(20)

print(returned_value)

print('list is',l)

None
list is [10, 30, 40]

In [46]:
l = [10,20,30,40]
returned_value = l.clear()

print(returned_value)

print('list is',l)

None
list is []

In [47]:
l = [10,20,30,40]
del l

print('list is',l)

NameError: name 'l' is not defined

In [ ]:
sort,index,count,reverse in lists

sorting means arranging elements in an order like ascending or descending based on certan value

In [48]:
l = [10,4000,300,-40]
l.sort()
print(l)

[-40, 10, 300, 4000]

In [49]:
l = [10,4000,300,-40]
l.sort(reverse=True)
print(l)

[4000, 300, 10, -40]

In [50]:
l = [10,4000,300,-40]
l.reverse()
print(l)

[-40, 300, 4000, 10]

In [52]:
l = [10,4000,300,-40,10,10,10]
print(l.count(10))

4

In [66]:
l = [10,4000,300,-40,10,10,10]
print(l.index(300))

2

## TUPLES

In [ ]:
-> immutable: no method for updating,deleting, and adding
-> ordered: indexing and slicing
-> heterogenous

In [56]:
tuple1 = ([1,2,3],{'python':3,'java':8})

In [57]:
print(type(tuple1))

<class 'tuple'>

In [58]:
t1 = 22,44,66
print(type(t1))

<class 'tuple'>

In [60]:
# How do we create a tuple with 1 element?

x = (4,)

print(type(x))

<class 'tuple'>

In [61]:
x = tuple(6)

print(x,type(x))

TypeError: 'int' object is not iterable

In [62]:
t1 = (100,200,300,400,100,100)

t1.count(100)

3

In [63]:
t1.index(200)

1

In [64]:
t1[::-1]

(100, 100, 400, 300, 200, 100)

In [65]:
t1[::2]

(100, 300, 100)

## Q.5) given two tuples , arrange their unique elements in sorted order in a list

### Intuition: Tuples are immutable, create an empty list to store the unique elements and sort them.

### Pseudocode:
    1.)Create a new tuple by adding them.
    2.)loop through them to append only value not already present
    3.)finally use sorted method on the list.

In [1]:
l1 = (10,45,21,47,10,74,85)
l2 = (100,200,45,45,21,21,74,85)
xlist = list(set(l1+l2))
xlist.sort()
print(xlist)

[10, 21, 45, 47, 74, 85, 100, 200]

In [ ]:
## DICT

-> mutable: add/update/del 
-> unordered: not support indexing and slicing
-> 2 most important things about keys in dict:
    1) keys should unique
    2) keys should be immutable : (tuples are immutable)
    
{key1:value1,key2:value2}

In [2]:
dict1 = {'python':3,'java':8}
print(dict1)

{'python': 3, 'java': 8}

In [3]:
dict1['python'] = 4

In [4]:
print(dict1)

{'python': 4, 'java': 8}

In [6]:
dict1['mohit']

KeyError: 'mohit'

In [5]:
d = {[1,2]:'python'}

TypeError: unhashable type: 'list'

In [8]:
d= {(1,2):'python'}

In [9]:
marks_student_1 = {'physics':89,'maths':95,'chemistry':83}

In [10]:
print(marks_student_1['physics'])

89

In [13]:
# how do you loop over a dict?

for item in marks_student_1.items():
    if item[1] > 85:
        print(item[0])

physics
maths

In [14]:
marks_student_1.items()

dict_items([('physics', 89), ('maths', 95), ('chemistry', 83)])

### Q.6): Do the following
    a)Create a tuple with single item 2.

In [15]:
x = (2,)
print(x,type(x))

(2,) <class 'tuple'>