In [ ]:
string1 = 'the quick brown fox jumps over a lazy dog' YES
string2 = 'the quick red fox jumps over a lazy dog' NO
string3 = 'aaaaaaaaaaaaaaaaaaaaaaaaaa' NO
string4 = 'aaaaa aa aaaaaa aaaaaa aaaaaaa' NO
string5 = 'the 2 quick brown fox jumps over a lazy dog' YES    

# By Programming, find out which of the string contains all the small alphabets from 'a' to 'z'

In [ ]:
abcdefghijklmnopqrstuvwxyz

In [4]:
ord('%')

37

In [5]:
ord('1')

49

In [12]:
ord('A')

65

In [13]:
ord('a')

97

In [11]:
[0]*26

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [22]:
attendance_register = [0]*26 # everybody is absent by default.
for char in 'the quick brown fox jumps over a lazy dog':
    index = ord(char)-97
    if index>=0 and index<=25:
        attendance_register[index] = 1
print(attendance_register)
if sum(attendance_register) == 26:
    print('YES')
else:
    print('NO')

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
YES

In [23]:
chr(asccii value) => char corresponding to that ascii value.

chr(97)

'a'

In [24]:
chr(122)

'z'

In [25]:
chr(65)

'A'

## STRING

In [ ]:
print() function: It prints things to the stdout.
    
It can take multiple inputs separated by comma.

In [37]:
print('kanishka Shukla','Atul Kumar','Nilesh B','bapun p')

kanishka Shukla Atul Kumar Nilesh B bapun p

In [39]:
# sep = separates different arguments we are printing.
# by default sep= ' '
print('kanishka Shukla','Atul Kumar','Nilesh B','bapun p',sep='********')

kanishka Shukla********Atul Kumar********Nilesh B********bapun p

In [29]:
print('happy')
print('coding')

happy
coding

In [33]:
# by default end is newline which means after printing, the cursor moves to the newline.
# '\n' has a special meaning which means newline.
print('happy',end='\n')
print('coding')

happy
coding

In [35]:
print('happy',end='--')
print('coding')
print('focus')

happy--coding
focus

In [ ]:
"I am a string in double quotes",'I am a string in single quotes',"""I am a string in triple quotes"""

In [ ]:
format function.

In [42]:
#1) position of the variable

s1 = 'num1 is {0} and num2 is {1}'.format('apple','oneplus')

print(s1)

num1 is apple and num2 is oneplus

In [44]:
#2) name of the variable

subject = 'Received an email from {name} and from {college}'.format(name='Himanshi Mishra',college='GWECA')

print(subject)

Received an email from Himanshi Mishra and from GWECA

In [45]:
name_list = ['Nilesh B','Atul Kumar','Kanishka Shukla','Rameez Rehman']

for name in name_list:
    reminder = 'Received an email from {person}'.format(person=name)
    print(reminder)

Received an email from Nilesh B
Received an email from Atul Kumar
Received an email from Kanishka Shukla
Received an email from Rameez Rehman

In [46]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {one}, cost of items {two}, for {three}, dollers ".format(one=quantity,two=itemno,three=price)
print(myorder)

I want 3, cost of items 567, for 49.95, dollers

## split and join

In [48]:
string1 = 'the quick brown fox jumps over a lazy dog'

string1_list = string1.split() # space is the default separator

print(string1_list)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'a', 'lazy', 'dog']

In [59]:
string1 = 'the--quick--brown--fox--jumps--over--a--lazy--dog'

string1_list = string1.split('--') # space is the default separator

print(string1_list)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'a', 'lazy', 'dog']

## join

In [62]:
list_of_words = ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'a', 'lazy', 'dog']

string1 = ('--').join(list_of_words)

print(string1)
print(type(string1))

the--quick--brown--fox--jumps--over--a--lazy--dog
<class 'str'>

In [63]:
list_of_words = ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'a', 'lazy', 'dog']

string1 = ('**********').join(list_of_words)

print(string1)
print(type(string1))

the**********quick**********brown**********fox**********jumps**********over**********a**********lazy**********dog
<class 'str'>

## input() function

In [ ]:
by default input() takes input in string format only.

In [72]:
x = input()

print('type of x is ',type(x))

y = int(x)

print('type of y is ',type(y))

52
type of x is  <class 'str'>
type of y is  <class 'int'>

In [73]:
x = input()

print('type of x is ',type(x))

y = float(x)

print('type of y is ',type(y))

52.6
type of x is  <class 'str'>
type of y is  <class 'float'>

In [75]:
x = input()

print('type of x is ',type(x))

# my aim is to create a list of these space separated inputs.
# [20,50,75]

20 25 75
type of x is  <class 'str'>

In [76]:
x = input()

print('type of x is ',type(x))

y = x.split(' ')

print(y)

# my aim is to create a list of these space separated inputs.
# [20,50,75]

20 50 75
type of x is  <class 'str'>
['20', '50', '75']

In [ ]:
input() function is used WHENEVER YOU WANT TO TAKE INPUT FROM THE USER.

LOOK AT A VENDING MACHINE THAT GIVES CHOCLATES,CHIPS,BISCUIS,CHAKLII,ETC takes input from the user to what item to be
dispensed.?

## find,rfind,index,rindex

In [77]:
s = 'PythonJavaPythonJava'

In [78]:
s.find('Java')

6

In [79]:
s.find('Tanishq')

-1

In [ ]:
find:
    finds the index postions for the first occurence from the left hand side.
    if present , returns the index position
    if not present , returns -1

In [80]:
s.rfind('Java')

16

In [81]:
s.rfind('Tanishq')

-1

In [ ]:
rfind:
    finds the index postions for the first occurence from the right hand side.
    if present , returns the index position
    if not present , returns -1

In [82]:
s.index('Java')

6

In [83]:
s.index('Tanishq')

ValueError: substring not found

In [84]:
s.rindex('Java')

16

In [85]:
s.rindex('Tanishq')

ValueError: substring not found

## replace and count

In [86]:
s = 'PythonJavaPythonJava'

s = s.replace('Java','HTML') ## (what you want to replace, what you want to place as the replacement)

In [87]:
print(s)

PythonHTMLPythonHTML

In [89]:
s = 'PythonJavaPythonJavaPython'

print(s.count('Python'))

3

In [ ]:
'Python' in 'PythonJavaPythonJavaPython' :
    In programming 'Python' is a substring of the actual string 'PythonJavaPythonJavaPython'

# lower(),islower()
# upper(),isupper()
# title(),istitle()
# capitalize()

In [90]:
'PYTHON'.lower()

'python'

In [91]:
'PYTHON'.islower()

False

In [92]:
'Python'.islower()

False

In [93]:
'python'.islower()

True

In [94]:
'python'.upper()

'PYTHON'

In [95]:
'python'.isupper()

False

In [96]:
'PYTHON'.isupper()

True

In [97]:
'rameez rehman'.capitalize()

'Rameez rehman'

In [98]:
'rameez rehman'.title()

'Rameez Rehman'

In [99]:
'mohit singh chouhan'.title()

'Mohit Singh Chouhan'

In [100]:
'mohit singh chouhan'.capitalize()

'Mohit singh chouhan'

In [101]:
'mohit singh chouhan'.upper()

'MOHIT SINGH CHOUHAN'

In [102]:
'MOHIT SINGH CHOUHAN'.istitle()

False

In [103]:
'Mohit Singh Chouhan'.istitle()

True

In [ ]:
HOMEWORK:
    isalpha()
    isdigit()
    isnumeric()
    isalnum()
    isspace()