In [1]:
x = 2
if x%2==0:
    print('x is even')
    if x>0:
        print('x is a positive value')
# 1) x is even
# 2) x is a positive value
# 3) both of them.

# CORRECT ANS IS 3

x is even
x is a positive value

In [ ]:
SYNTAX OF IF

if Expression which evaluates to a Boolean Value (i.e,. either True or False) :
    Python code line
    python code line 2
    
NOTE : its not mandatory to write / have 'else' after if

In [ ]:
MUTABLE DATA TYPES:
    list
    set
    dict
    
Immutable ones:
    int
    float
    tuple
    bool
    None
    str

In [ ]:
How could I verify that str is immutable?

In [2]:
# str have indexing.
fruit = 'apple'

fruit[0]

'a'

In [3]:
fruit[0] = 'b'

TypeError: 'str' object does not support item assignment

In [ ]:
What are the datatypes which follow indexing:
    list
    str
    tuple

In [5]:
programming_languages = {'python':3,'java':8}

programming_languages['python'] # this is not indexing.

3

In [ ]:
## Slicing

syntax:
    name[startindex:endindex:stride]
    
NOTE: if stride is not given , by default the value is +1
NOTE: endindex is never reached. We go only go till endindex-stride.

In [6]:
fruit = 'apple'

fruit[0:3] ## this is known as slicing.

'app'

In [8]:
fruits = ['kiwi','mango','apple','cherry','papaya','peach','guvava']

fruits[0:4]

['kiwi', 'mango', 'apple', 'cherry']

In [10]:
fruits = ('kiwi','mango','apple','cherry','papaya','peach','guvava')

x = fruits[0:4]

print(x)

('kiwi', 'mango', 'apple', 'cherry')

In [11]:
# indexing with negative values
fruit = 'apple'

fruit[-1]

'e'

In [12]:
fruit = 'apple'

fruit[-2]

'l'

In [13]:
fruits = ['kiwi','mango','apple','cherry','papaya','peach','guvava']

fruits[-1]

'guvava'

In [14]:
fruits = ['kiwi','mango','apple','cherry','papaya','peach','guvava']

fruits[-2]

'peach'

In [ ]:
## stride:
-ve value means in reverse direction (right to left)
+ve value in the correct direction (left to right)

stride = +3

we will jumping 3 index positions while slicing.

In [21]:
fruits = ['kiwi','mango','apple','cherry','papaya','peach','guvava']

fruits[-1:-4:-1]

['guvava', 'peach', 'papaya']

In [ ]:
fruits[-1:-4:-1]

In [ ]:
-4 or -1 Which is a greater no? 
I want to go from -1 to -4, Should I subtract or add something to -1?

In [29]:
fruits = ['kiwi','mango','apple','cherry','papaya','peach','guvava']

fruits[0:6:2]

['kiwi', 'apple', 'papaya']

In [32]:
fruits[7:0:-1]

['guvava', 'peach', 'papaya', 'cherry', 'apple', 'mango']

In [33]:
fruits = ('kiwi', 'mango','apple','cherry','papaya','peach','gauva')
# fruits[-4:-1]       it gave me this ('cherry', 'papaya', 'peach')   for this fruits[-4:6] output I got ('cherry', 'papaya', 'peach') for this fruits[-4:0] the output I got () WHY So??

In [35]:
fruits[-4:0:-1]

('cherry', 'apple', 'mango')

In [ ]:
## FOR LOOPS

In [2]:
bus = ['covid+','covid-','covid+','covid-','covid-','covid-']

## How many covid+ cases are here?
count = 0
if bus[0] == 'covid+':
    count = count + 1
if bus[1] == 'covid+':
    count = count + 1
if bus[2] == 'covid+':
    count = count + 1
if bus[3] == 'covid+':
    count = count + 1
if bus[4] == 'covid+':
    count = count + 1
if bus[5] == 'covid+':
    count = count + 1

print(count)

2

In [7]:
bus = ['covid+','covid+','covid+','covid+','covid-','covid-']
count = 0
for passenger_covid_status_blah_blah in bus:
    print(passenger_covid_status_blah_blah)
    if passenger_covid_status_blah_blah == 'covid+':
        count = count + 1
    
print(count)

covid+
covid+
covid+
covid+
covid-
covid-
4

In [ ]:
SYNTAX OF FOR LOOP:

for new_var_name in collection:
    print(new_var_name)
    some other stuff.

## Q1 Make a list of numbers from 1 to 5 and print their value using for loop

In [8]:
x = [1,2,3,4,5]

for value in x:
    print(value)

1
2
3
4
5

## Q2) Print yes if x is divisible by 3 and 5 both

### Intuition: since 4 is divisible by 2 it outputs remainder = 0

### PseudoCode:
    1)Check if remainder obtained by 3 is 0
    2)Check if remainder obtained by 5 is 0
    3)If anyone of the above 2 are false, than print nope.

In [ ]:
3 minutes.

In [9]:
x = 15

x%3==0

True

In [11]:
x%5==0

True

# AND , OR, NOT Operators in Conditional Statements
# (Logical Operators in Conditional Statements)

In [18]:
x = True
y = False

z = x and y

print(z)

m = x or y
print(m)

print(True or True)

print(not False)

False
True
True
True

In [20]:
x = 3
if not x%2==0:
    print('x is not divisible by 2')

x is not divisible by 2

In [24]:
x = 30
if x%3==0 and x%5==0:
    print('yes')
else:
    print('nope')

yes

In [ ]:
True Equivalents = [True,all_the_no(float+int) except 0,['x','y','z'],['x'],('45'),{'x':1},{'e'}]
False Equivalents = [False,0,'',None,[],(),{}]

bool(thing) builtin function : Tells us what is the BOOLEAN EQUIVALENT OF THAT THING.

In [25]:
bool(True)

True

In [26]:
bool(False)

False

In [27]:
student = 'venusha_rao'

bool(student)

True

In [ ]:
ALL THE THINGS IN PYTHON WHICH ALSO MEANS TRUE OR CAN BE CONSIDERED AS TRUE IN PLACES LIKE CONDITIONAL STATEMENTS.

In [29]:
student = 'venusha_rao'
if student:
    print('the name of the student is not empty')

the name of the student is not empty

In [31]:
for item in [True,123,-433,45.6,-56.7,['x','y','z'],['x'],('45'),{'x':1},{'e'}]:
    print(bool(item))

True
True
True
True
True
True
True
True
True
True

In [32]:
for item in [False,0,'',None,[],(),{}]:
    print(bool(item))

False
False
False
False
False
False
False

In [33]:
if {}:
    print('AM I here?')
else:
    print('No, I am here.!!')

No, I am here.!!

In [36]:
bool('')

False

In [ ]:
NOTE: WHEN WE USE THESE BOOLEAN EQUIVALENTS IN CONDITIONAL STATEMENTS , THEY ARE AUTOMATICALLY(IMPLICITLY) TYPE CASTED INTO 
    BOOLEAN VALUES.

In [ ]:
# WHAT ARE ITERABLES?
THOSE DATA TYPES WHICH WE CAN ITERATE OVER, OR LOOP OVER.
list
dict
set
tuple
str

In [37]:
x = 'apple'

for item in x:
    print(item)

a
p
p
l
e

In [39]:
# Not an iterable.
# int,float,None,bool

for i in True:
    print(i)

TypeError: 'bool' object is not iterable

In [40]:
for i in 5:
    print(i)

TypeError: 'int' object is not iterable

In [41]:
for i in 5.4:
    print(i)

TypeError: 'float' object is not iterable

In [42]:
for i in None:
    print(i)

TypeError: 'NoneType' object is not iterable

In [43]:
for i in {"223","223","45"}:
    print(i)

45
223

In [48]:
ananyadict = {'python':3,'java':8,'mango':'full'}
for ananya in ananyadict:
    print(ananya,ananyadict[ananya])

python 3
java 8
mango full

In [46]:
for i in ("223","223","45"):
    print(i)

223
223
45